<template name="home">
  {{#contentFor "headerButtonLeft"}}
    {{>sideMenuButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Meteorio</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="card">
        <div class="item item-text-wrap">
          <h1>Welcome to Meteorio</h1>
          <button class="button button-positive button-large" type="button" data-ot-mybutton>Try It</button>
          {{#if myAppVariable}}
            <h2 class="positive">{{myAppVariable}}</h2>
          {{/if}}
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
